@import "reusables";
@import "resets";

// -> page
main {
  min-height: 100vh;
  padding: $gap_around;
  background: $color_light;
}
.ct-content {
  margin-top: $gap_top;
}
.ct-content-auth {
  margin-top: $gap_top;
  position: absolute;
  top: calc($gap_around + $gap_top);
  left: $gap_around;
  height: calc((100vh - multiply($gap_top, 2)) - multiply($gap_around, 3));
  width: calc(100vw - multiply($gap_around, 2));
  @include flex(column, center, center, $gap_inner-big);
}

// -> typography
html, body {
  font-size: $font_size-base;
}
h1, .typo-h1 {
  &:not(.typo-mono) { @include f-sansserif($font_size-h1) }
  &.typo-mono { @include f-mono($font_size-h1) }
}
h2, .typo-h2 {
  &:not(.typo-mono) { @include f-sansserif($font_size-h2) }
  &.typo-mono { @include f-mono($font_size-h2) }
}
.typo-text {
  &:not(.typo-mono) { @include f-sansserif($font_size-text) }
  &.typo-mono { @include f-mono($font_size-text) }
}
.typo-info {
  &:not(.typo-mono) { @include f-sansserif($font_size-info) }
  &.typo-mono { @include f-mono($font_size-info) }
}
.typo-dark {
  color: $color_dark !important;
  *, ::marker{
    color: $color_dark !important;
  }
}
.typo-accent {
  color: $color_accentdark !important;
  *, ::marker{
    color: $color_accentdark !important;
  }
}

// -> input
.form {
  @include flex(column, flex-start, center, $gap-inner-small);
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}
.form-field {
  width: 100%;
  label {
    @include f-sansserif($font_size-info);
    display: block;
    margin-bottom: px(6);
  }
  input {
    padding: px(10);
    width: 100%;
    border: 1px solid $color_dark;
    border-radius: 0;
    @include f-sansserif($font-size-text);
    &:focus{
      outline: none;
    }
  }
}
.form-line {
  @include flex(row, center, center, $gap_inner-big);
}
.form-mono {
  input{
    font-family: "antarctican-mono", monospace;
  }
}
